<div id="t3-panel-container">
	<div id="t3-panel-bar">Admin Panel</div>
	<f:form action="#" id="t3-panel-wrap" object="{form}" name="edit">
		<f:form.hidden property="pageId" value="{pageId}" />
		<f:form.hidden id="t3-url-ajax" name="url" value="{urls.form}" />

		<div id="t3-panel-sections">
			<div class="t3-panel-section-title"><a href="#">Information</a></div>
			<div class="t3-panel-section-content" style="display: none;">
				<table class="t3-panel-table">
					<tr>
						<th>Title</th>
						<td>{information.pageTitle}</td>
					</tr>
					<tr>
						<th>ID</th>
						<td>{information.pageId}</td>
					</tr>
					<tr>
						<th>Type</th>
						<td>{information.pageType}</td>
					</tr>
					<tr>
						<th>Rootline</th>
						<td>{information.rootLine}</td>
					</tr>
					<tr>
						<th>FE-User</th>
						<td>
							<f:if condition="{information.loggedInUser}">
								<f:then>
									Logged in as "{information.loggedInUser.username}" [ID: {information.loggedInUser.uid}]<br> User Groups: None [{information.loggedInGroups}]
								</f:then>
								<f:else>
									Not logged in<br> User Groups: None [IDs: 0, -1]
								</f:else>
							</f:if>
						</td>
					</tr>
					<f:if condition="{isAdministrator}">
						<tr>
							<th>Times</th>
							<td>
								{information.scriptParseTime} ms render time (
								<f:if condition="{information.isCached}">
									<f:then>Fetched from cache</f:then>
									<f:else>Page not cached</f:else>
								</f:if>
								)<br> {information.nonCacheableObjects} uncached objects found
							</td>
						</tr>
					</f:if>
					<tr>
						<th>TYPO3 CMS</th>
						<td>{applicationVersion}</td>
					</tr>
				</table>
			</div>
			<div class="t3-panel-section-title"><a href="#">Preview</a></div>
			<div class="t3-panel-section-content" style="xxdisplay: none;">
				<div>
					Clear Cache <br>
					<f:form.select property="clearCacheLevels" options="{0:'This page',1:'+1 sublevel',2:'+2 sublevels',3:'+3 sublevels'}" />
					<br> <label>
					<f:form.checkbox value="1" property="noCaching" />
					no caching</label>
				</div>

				<div title="Preview">
					<label for="t3-checkbox-showhiddenpages">
						<f:form.checkbox id="t3-checkbox-showhiddenpages" property="showHiddenPages" value="1" />
						Show Hidden Pages<br> </label> <label for="t3-checkbox-showhiddenrecords">
					<f:form.checkbox id="t3-checkbox-showhiddenrecords" property="showHiddenRecords" value="1" />
					Show Hidden Records </label>
				</div>
				<div title="Simulation">
					Simulate Time
					<f:form.textfield type="date" property="simulateDate" placeholder="DD.MM.YYYY" />
					<f:form.textfield type="time" property="simulateTime" placeholder="HH:ii" />
					<br>
					<f:if condition="{edit.frontendUserGroups}">
						Simulate User Group
						<f:form.select property="simulateFrontendUserGroup" options="{edit.frontendUserGroups}" />
					</f:if>
				</div>
			</div>
			<div class="t3-panel-section-title"><a href="#">Edit</a></div>
			<div class="t3-panel-section-content" style="display: none;" id="t3-panel-edit">
				<div title="Editing">
					<label>
						<f:form.checkbox value="1" property="displayIcons" />
						Edit Icons</label><br> <label>
					<f:form.checkbox property="displayEditPanels" value="1" />
					Edit Panels</label>
				</div>
				<div title="Editing">
					<f:if condition="{edit.history}"><a href="{edit.history.url}">
						<f:format.raw>{edit.history.icon}</f:format.raw>
					</a></f:if>
					<f:if condition="{edit.newContent}"><a href="{edit.newContent.url}">
						<f:format.raw>{edit.newContent.icon}</f:format.raw>
					</a></f:if>
					<f:if condition="{edit.newPage}"><a href="{edit.newPage.url}">
						<f:format.raw>{edit.newPage.icon}</f:format.raw>
					</a></f:if>
					<f:if condition="{edit.movePage}"><a href="{edit.movePage.url}">
						<f:format.raw>{edit.movePage.icon}</f:format.raw>
					</a></f:if>
					<f:if condition="{edit.editPageProperties}"><a href="{edit.editPageProperties.url}">
						<f:format.raw>{edit.editPageProperties.icon}</f:format.raw>
					</a></f:if>
					<f:if condition="{edit.editTranslation}"><a href="{edit.editTranslation.url}">
						<f:format.raw>{edit.editTranslation.icon}</f:format.raw>
					</a></f:if>
					<f:if condition="{edit.list}"><a href="{edit.list.url}">
						<f:format.raw>{edit.list.icon}</f:format.raw>
					</a></f:if>
				</div>
			</div>
			<div class="t3-panel-section-title"><a href="#">TS</a></div>
			<div class="t3-panel-section-content" style="display: none;" id="t3-panel-debug">
				<table class="t3-panel-table">
					<tr>
						<th>TS</th>
						<th>value</th>
						<th>time</th>
						<th>own</th>
						<th>sub</th>
						<th>total</th>
					</tr>
					<f:for each="{information.timeTracking}" as="line">
						<tr>
							<td>
								<f:if condition="{line.level} > 1">
									<span style="padding-left:{line.level}0px"></span>
								</f:if>
								<f:for each="{line.tsStack}" as="l2">
									<f:for each="{l2}" as="inner" iteration="i">
										<f:if condition="{i.index} > 0">/</f:if>
										{inner}
									</f:for>
								</f:for>
							</td>
							<td>
								{line.value}
							</td>
							<td>{line.starttime}</td>
							<td>{line.owntime}</td>
							<td>
								<f:if condition="{line.subtime}">+{line.subtime}</f:if>
							</td>
							<td>
								<f:if condition="{line.subtime}">={line.deltatime}</f:if>
							</td>
						</tr>
					</f:for>
				</table>
			</div>
		</div>

		<div class="t3-additional-links">
			<a href="{currentPageLink}" class="t3-link-reload t3-btn">Reload This Page</a>
			<f:if condition="{displayLogoutLink}">
				<f:then><a href="typo3/" target="_new" class="t3-btn">Open backend</a>
					<a href="{url.logout}" class="t3-btn t3-btn-logout">Logout</a></f:then>
				<f:else><a href="{url.login}" class="t3-btn">Login</a></f:else>
			</f:if>
		</div>
	</f:form>
</div>

<script data-main="typo3conf/ext/adminpanel/Resources/Public/JavaScript/Main" src="typo3/sysext/core/Resources/Public/JavaScript/Contrib/require.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="typo3conf/ext/adminpanel/Resources/Public/Styles/Panel.css" media="screen">